SQLAlchemy==2.0.36
fastapi==0.115.8
fastjsonschema==2.21.1
pydantic==2.10.6
pydantic_core==2.27.2
black==25.1.0
flake8==7.1.2
flake8-bugbear==24.12.12
flake8-pie==0.16.0
flake8-black==0.3.6
isort==6.0.1
mypy==1.15.0
